################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin/Debug/netcoreapp2.0
/src/obj
/.vs/SignalRTest/v15/.suo
/.vs
/src/.vs
/src/App1/bin/Debug
/src/App1/obj
/src/SignalRTest/bin/Debug/netcoreapp2.0
/src/SignalRTest/obj
